{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row">
        

        <form method="get" action="{% url 'posts:search' %}">
            <input name="search_text" placeholder="검색어 입력" />
            <input type="submit"  value="검색" />
        </form>

    </div>
    <div class="row">
    {% for post in posts %}
        <div style="float: left; margin: 5px;">
            <div class="card" style="width: 12rem;">
                {% if post.attach %}
                <img src="/media/{{ post.attach }}" class="card-img-top" alt="...">
                {% else %}
                <img src="http://movie-img.yes24.com/NYes24/MOVIE//M48/M24/M00006482451_16123.jpg" class="card-img-top" alt="...">
                {% endif %}
                
               
                <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">{{ post.content  | safe}}</p>
                <a href="/posts/{{ post.id }}" class="btn btn-primary">내용보기</a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
    <div class="row" style="justify-content: center">
        {% if page_obj.has_previous %}
        <a class="btn btn-primary" href="?page={{page_obj.previous_page_number}}" class="text-teal-500">
            <
        </a>
        {% endif %}
         <span class="mx-3 font-medium text-lg">{{page_obj.number}} /{{page_obj.paginator.num_pages}}</span>
        {% if page_obj.has_next %}
        <a  class="btn btn-primary"href="?page={{page_obj.next_page_number}}" class="text-teal-500">
        >
        </a>
        {% endif %}
    </div>
    


</div>
   
{% endblock content %}