{% extends "base.html" %}
{% block content %}

<div class="container">
    <div style="width: 100%;">
    {% for post in posts %}
    <div style="float: left; margin: 5px;">
        <div class="card" style="width: 18rem;">
            <img src="http://movie-img.yes24.com/NYes24/MOVIE//M48/M24/M00006482451_16123.jpg" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">{{ post.content }}</p>
            <a href="/posts/{{ post.id }}" class="btn btn-primary">내용보기</a>
            </div>
        </div>
    </div>
    {% endfor %}
    </div>
    <div style="width: 100%;">

       
        <div class="flex items-center justify-center mx-auto container">
            {% if page_obj.has_previous %}
            <a class="btn btn-primary" href="?page={{page_obj.previous_page_number}}" class="text-teal-500">
                <
            </a>
            {% endif %}
        <span class="mx-3 font-medium text-lg">{{page_obj.number}} of {{page_obj.paginator.num_pages}}</span>
        {% if page_obj.has_next %}
        <a  class="btn btn-primary"href="?page={{page_obj.next_page_number}}" class="text-teal-500">
          >
        </a>
        {% endif %}
    </div>
</div>
{% endblock content %}