{% extends "base.html" %}
{% block content %}

<div class="container">
    <table class="table">
        <thead class="thead-light">
        <tr class="text-center">
            <th scope="col">#</th>
            <th scope="col">제목</th>
            <th scope="col">작성자</th>
            <th scope="col">작성일</th>
        </tr>
        </thead>
        <tbody>
        {% for post in posts %}
        <tr class="text-center">
            <th scope="row">
                <span>{{ post.id }}</span>
            </th>
            <td>
                <a href="/posts/{{ post.id }}">
                    <span>{{ post.title }}</span>
                </a>
            </td>
            <td>
                <span>{{post.user.username}}</span>
            </td>
            <td>
                <span>{{ post.created_date | date:"Y-m-d h:i" }}</span>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="row">
        <div class="col-auto mr-auto"></div>
        <div class="col-auto">
            <a class="btn btn-primary" href="/posts/write" role="button">글쓰기</a>
        </div>
    </div>
</div>
{% endblock content %}